Project 05 Part 1      -Gavin A

In [5]:
import pandas as pd

grades = pd.Series([87, 100, 94])
print(grades[0],                 
    grades.count(),
    grades.mean(),
    grades.min(),
    grades.max(),
    grades.std(),
    grades.describe())

87 3 93.66666666666667 87 100 6.506407098647712 count      3.000000
mean      93.666667
std        6.506407
min       87.000000
25%       90.500000
50%       94.000000
75%       97.000000
max      100.000000
dtype: float64

In [8]:
grades = pd.Series({'Wally': 87, 'Eva': 100, 'Sam': 94})
print(grades['Eva'], '\n', grades.Wally, '\n',grades.values)

100
 87
 [ 87 100  94]

Project 05 Part 2     -Gavin A

In [21]:
grades_dict = {'Wally': [87, 96, 70], 'Eva': [100, 87, 90], 'Sam': [94, 77, 90], 'Katie': [100, 81, 82], 'Bob': [83, 65, 85]}
grades = pd.DataFrame(grades_dict)
grades.index = ['Test1', 'Test2', 'Test3']

print(grades['Eva'], grades.Sam)

print(grades.loc['Test1'], grades.iloc[0], grades.iloc[1])
#I prefer the loc method but i can see scenarios for using each

print(grades.at['Test2', 'Eva'], grades.iat[2,0])

print(grades.describe())

pd.set_option('display.precision',2)

print(grades.mean())
print(grades.sort_index(ascending=False))
grades.sort_index(axis=1)

Test1    100
Test2     87
Test3     90
Name: Eva, dtype: int64 Test1    94
Test2    77
Test3    90
Name: Sam, dtype: int64
Wally     87
Eva      100
Sam       94
Katie    100
Bob       83
Name: Test1, dtype: int64 Wally     87
Eva      100
Sam       94
Katie    100
Bob       83
Name: Test1, dtype: int64 Wally    96
Eva      87
Sam      77
Katie    81
Bob      65
Name: Test2, dtype: int64
87 70
       Wally     Eva    Sam   Katie    Bob
count   3.00    3.00   3.00    3.00   3.00
mean   84.33   92.33  87.00   87.67  77.67
std    13.20    6.81   8.89   10.69  11.02
min    70.00   87.00  77.00   81.00  65.00
25%    78.50   88.50  83.50   81.50  74.00
50%    87.00   90.00  90.00   82.00  83.00
75%    91.50   95.00  92.00   91.00  84.00
max    96.00  100.00  94.00  100.00  85.00
Wally    84.33
Eva      92.33
Sam      87.00
Katie    87.67
Bob      77.67
dtype: float64
       Wally  Eva  Sam  Katie  Bob
Test3     70   90   90     82   85
Test2     96   87   77     81   65
Test1     87  100   94    100   83

       Bob  Eva  Katie  Sam  Wally
Test1   83  100    100   94     87
Test2   65   87     81   77     96
Test3   85   90     82   90     70